.list-group-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.list-group-item strong {
    font-size: 1.2em;
}

.badge.low {
    background-color: green;
}

.badge.medium {
    background-color: orange;
}

.badge.high {
    background-color: red;
}
